rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{code} {
      allow read: if true;
      allow write: if false;

      match /rounds/{round} {
        allow read: if true;
        allow write: if false;
      }
      match /participants/{participant} {
        allow read: if true;
        allow create: if true;
        allow update: if false;
      }
      match /responses/{response} {
        allow read: if true;
        allow create: if true;
        allow update: if false;
      }
    }
  }
}
